body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://images.pexels.com/photos/2310713/pexels-photo-2310713.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; /*Set height to fill viewport*/
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 105px;
}
input {
  width: 100%;
  padding: 10px 5px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.weather-info {
  margin-top: 20px;
}
h1 {
  font-size: 24px;
}
a {
  color: #007bff;
}
footer {
  padding-top: 20px;
  text-align: center;
}
